<template>
  <main class="application">
    <v-header></v-header>
    <router-view></router-view>
  </main>
</template>

<script>
  import Header from './header.vue';
  import Match from './match.vue';
  import Table from './table.vue';
  import Lobby from './lobby.vue';

  import Vue from 'vue';
  import VueRouter from 'vue-router';
  import VueSocketio from 'vue-socket.io';

  const service = 'https://durak-api.herokuapp.com/';
  const router = new VueRouter({
    mode: 'history',
    routes: [
      {
        path: '/table',
        name: 'table',
        component: Table,
        props: true,
        beforeEnter: (to, from, next) => {
          if (to.params.gameData) next();
          else next('/');
        }
      },
      {
        path: '/lobby',
        name: 'lobby',
        component: Lobby,
      },
      {
        path: '*',
        redirect: '/lobby',
      },
    ],
  });

  Vue.use(VueSocketio, service);
  Vue.use(VueRouter);

  export default {
    router,
    components: {
      'v-header': Header,
    },
  }
</script>

<style>
  .application {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
  }

  /** Reset **/

  body {
    margin: 0;
  }

  button {
    appearance: initial;
    background-color: initial;
    border: initial;
    box-shadow: initial;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    margin: initial;
    outline: initial;
    padding: initial;
    pointer-events: auto;
    text-decoration: initial;
    vertical-align: middle;
  }
</style>
