<template>
  <div class="card__holder">
    <div class="card" :class="[suit, rang]">{{ icon }}</div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        suit: "",
        rang: "",
        icon: ""
      }
    },
    props: ['code'],
    mounted: function() {
      if(Number.isInteger(this.code)) {
        const RANGES = ["six", "seven", "eight", "nine", "ten", "jack", "queen", "king", "ace"];
        const TYPES = ["spades", "hearts", "diams", "clubs"];
        const ICONS = ["♠", "♥", "♦", "♣"];
        this.suit = RANGES[this.code % 9];
        this.rang = TYPES[this.code % 4];
        this.icon = ICONS[this.code % 4];
      }
    },
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=PT+Serif');

  .game__hand .card__holder {
    width: calc(var(--poker-width) * var(--size) / 4);
  }

  .game__hand .card {
    transform: translate(calc(var(--poker-width) * var(--size) / -2.6));
  }

  .game__pair .card__holder:nth-child(2n) .card {
    /* margin-right: calc(var(--poker-width) * var(--size) / 4); */
    margin-left: calc(var(--poker-width) * var(--size) * -3 / 4);
  }

  .game__pair .card__holder:nth-child(2n) .card {
    transition: opacity 250ms;
  }

  .game__pair .card__holder:nth-child(2n) .card:hover {
    opacity: 0.2;
  }

  .game__pair .card__holder:nth-child(2n - 1) .card:hover {
    position: relative;
    z-index: 1;
  }

  .info__deck .card__holder:first-child {
    transform-origin: right bottom;
    transform:
      rotate(-90deg)
      translateX(calc(var(--poker-width) * var(--size)))
      translateY(calc(var(--height) * var(--size) / -3));
  }

  .info__deck .card__holder:not(:first-child) {
    margin-top: calc(var(--height) * var(--size) * -1 - 1px);
  }

  .info__heap .card__holder:not(:first-child) {
    margin-top: calc(var(--height) * var(--size) * -1);
  }

  .info__heap .card__holder:nth-child(1) { transform: rotate(68deg) translate(-6px, 0px) }
  .info__heap .card__holder:nth-child(2) { transform: rotate(103deg) translate(-3px, 0px) }
  .info__heap .card__holder:nth-child(3) { transform: rotate(53deg) translate(5px, 5px) }
  .info__heap .card__holder:nth-child(4) { transform: rotate(310deg) translate(8px, 0px) }
  .info__heap .card__holder:nth-child(5) { transform: rotate(38deg) translate(5px, 0px) }
  .info__heap .card__holder:nth-child(6) { transform: rotate(82deg) translate(-1px, 8px) }
  .info__heap .card__holder:nth-child(7) { transform: rotate(86deg) translate(-9px, -8px) }
  .info__heap .card__holder:nth-child(8) { transform: rotate(251deg) translate(8px, 6px) }
  .info__heap .card__holder:nth-child(9) { transform: rotate(165deg) translate(-3px, 9px) }
  .info__heap .card__holder:nth-child(10) { transform: rotate(136deg) translate(-4px, -3px) }
  .info__heap .card__holder:nth-child(11) { transform: rotate(67deg) translate(-9px, -1px) }
  .info__heap .card__holder:nth-child(12) { transform: rotate(278deg) translate(9px, -5px) }
  .info__heap .card__holder:nth-child(13) { transform: rotate(36deg) translate(2px, 0px) }
  .info__heap .card__holder:nth-child(14) { transform: rotate(312deg) translate(7px, -5px) }
  .info__heap .card__holder:nth-child(15) { transform: rotate(121deg) translate(0px, 1px) }
  .info__heap .card__holder:nth-child(16) { transform: rotate(46deg) translate(-8px, 9px) }
  .info__heap .card__holder:nth-child(17) { transform: rotate(176deg) translate(3px, -10px) }
  .info__heap .card__holder:nth-child(18) { transform: rotate(72deg) translate(-3px, 0px) }
  .info__heap .card__holder:nth-child(19) { transform: rotate(293deg) translate(-4px, 7px) }
  .info__heap .card__holder:nth-child(20) { transform: rotate(332deg) translate(6px, -3px) }
  .info__heap .card__holder:nth-child(21) { transform: rotate(15deg) translate(-3px, 4px) }
  .info__heap .card__holder:nth-child(22) { transform: rotate(314deg) translate(8px, 7px) }
  .info__heap .card__holder:nth-child(23) { transform: rotate(252deg) translate(-2px, 2px) }
  .info__heap .card__holder:nth-child(24) { transform: rotate(17deg) translate(-4px, -3px) }
  .info__heap .card__holder:nth-child(25) { transform: rotate(216deg) translate(1px, -6px) }
  .info__heap .card__holder:nth-child(26) { transform: rotate(90deg) translate(2px, -1px) }
  .info__heap .card__holder:nth-child(27) { transform: rotate(242deg) translate(-8px, -3px) }
  .info__heap .card__holder:nth-child(28) { transform: rotate(170deg) translate(1px, 6px) }
  .info__heap .card__holder:nth-child(29) { transform: rotate(257deg) translate(-9px, -4px) }
  .info__heap .card__holder:nth-child(30) { transform: rotate(38deg) translate(-2px, -9px) }
  .info__heap .card__holder:nth-child(31) { transform: rotate(269deg) translate(-7px, -5px) }
  .info__heap .card__holder:nth-child(32) { transform: rotate(301deg) translate(-1px, -3px) }
  .info__heap .card__holder:nth-child(33) { transform: rotate(133deg) translate(-10px, 4px) }
  .info__heap .card__holder:nth-child(34) { transform: rotate(329deg) translate(-4px, 2px) }
  .info__heap .card__holder:nth-child(35) { transform: rotate(241deg) translate(-6px, 1px) }
  .info__heap .card__holder:nth-child(36) { transform: rotate(154deg) translate(7px, 0px) }


  .card__holder {
    --corner-round: 3.4;
    --brige-width: 57.15;
    --poker-width: 63.5;
    --height: 88.9;
    --size: 1.6px;
    --font-family: 'PT Serif';
  }

  .card {
    position: relative;
    transition: 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: calc(var(--poker-width) * var(--size));
    height: calc(var(--height) * var(--size));
    font-family: var(--font-family), serif;
    font-size: calc(var(--height) * var(--size) / 4);
    border-radius: calc(var(--corner-round) * var(--size));
    border: thin solid hsla(0, 0%, 0%, 0.25);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  }

  .card {
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
  }

  .card::before,
  .card::after {
    position: absolute;
    display: flex;
    width: 32px;
    height: 56px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 8px;
    justify-content: center;
    content: var(--rank) '\A' var(--suit);
    line-height: 24px;
    white-space: pre;
  }

  .card::before {
    top: 0;
    left: 0;
  }

  .card::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }

  .card.six { --rank: "6" }
  .card.seven { --rank: "7" }
  .card.eight { --rank: "8" }
  .card.nine { --rank: "9" }
  .card.ten { --rank: "10" }
  .card.jack { --rank: "J" }
  .card.queen { --rank: "Q" }
  .card.king { --rank: "K" }
  .card.ace { --rank: "A" }

  .card.clubs {
    background: white;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    color: black;
    --suit: "♣";
  }

  .card.spades {
    background: white;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    color: black;
    --suit: "♠";
  }

  .card.diams {
    background: white;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    color: red;
    --suit: "♦";
  }

  .card.hearts {
    background: white;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    color: red;
    --suit: "♥";
  }
</style>
