<template>
  <div class="chat">
    <div class="chat__messages">
      <div
        class="chat__message"
        :class="messageType(message.from)"
        v-for="message in pull"> {{ message.message }}
      </div>
    </div>
    <form class="chat__actions" @submit.prevent>
      <textarea class="chat__input"
        @keydown.meta.enter.exact="send"
        @keyup.ctrl.enter.exact="send"
        @keyup.alt.enter.exact="send"
      ></textarea>
      <button @click="send">></button>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      pull: [
        {
          message: "Hi there!",
          from: "incoming",
        },
        {
          message: "Hello!",
          from: "outcoming",
        },
        {
          message: "System message",
        }
      ],
    }
  },
  sockets: {
    connect: function() {
      console.log('Connect: lobby socket');
    },
    incomingMessage: function(message) {
      this.pull.push({
        message: message.value,
        from: "incoming"
      })
    }
  },
  methods: {
    send(event) {
      const message = event.target.form.elements[0];
      this.pull.push({
        message: message.value,
        from: "outcoming"
      })

      message.value = null;
    },
    messageType(type) {
      if(!type) type = 'system';
      return 'chat--' + type;
    }
  }
}
</script>

<style>
  .chat button {
    background: lightblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }

  .chat {
    background: darkgray;
    border-left: 1px solid black;
    max-width: 30vw;
    min-width: 300px;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    display: flex;
  }

  .chat__messages {
    padding: 20px;
    flex-flow: column nowrap;
    display: flex;
    flex: 1 1 auto;
  }

  .chat__actions {
    display: flex;
    background: white;
  }

  .chat__message {
    background: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    flex: 0 1 0;
  }

  .chat__message + .chat__message {
    margin-top: 10px;
  }

  .chat--system {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 80%;
    font-family: monospace;
  }

  .chat--incoming {
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }

  .chat--outcoming {
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }

  .chat--incoming,
  .chat--outcoming {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .chat__input {
    flex: 1 1 auto;
    resize: none;
    padding: 5px;
    border: none;
  }
</style>
