<template>
  <div class="game-menu" :class="isActive ? classActive : false ">
    <button @click="toggle" class="game-menu__button">
      <div class="game-menu__icon"></div>
    </button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      isActive: false,
      classActive: "game-menu--active"
    }
  },
  methods: {
    toggle: function() {
      this.isActive = !this.isActive;
    }
  }
}
</script>

<style>
  /** TODO icon burger => gear. :hover -> slow cycling :active -> cycling **/

  .game-menu {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-menu--active {

  }

  .game-menu__button {
    padding: 20px 15px;
  }

  .game-menu__icon {
    --height: 20px;
    --width: 30px;
    --diameter: 3px;
    --offset: calc(var(--height) - var(--diameter) * 2);
    --shadow: calc(-1 * var(--diameter) - (var(--offset) - var(--diameter)) / 2);

    border-radius: calc(var(--diameter) / 2);
    color: #FFFFFF;
    cursor: pointer;
    height: var(--height);
    margin: auto;
    width: var(--width);
  }

  .game-menu__icon:before,
  .game-menu__icon:after {
    border-radius: inherit;
    background: currentColor;
    content: "";
    display: block;
    height: var(--diameter);
    transition: 0.5s;
  }

  .game-menu__icon:after {
    filter: drop-shadow(0 var(--shadow) currentColor);
    transform: translateY(var(--offset));
  }

  .game-menu--active .game-menu__icon::before {
    transform: translateY(calc(var(--height) / 2 - var(--diameter) / 2)) rotateZ(45deg);
  }

  .game-menu--active .game-menu__icon::after {
    filter: initial;
    transform: translateY(calc(var(--height) / 2 - var(--diameter) * 1.5)) rotateZ(-45deg);
  }
</style>
