<template>
  <header class="header">
    <!--enemy-profile style="flex: 1 1 auto;"></enemy-profile-->
    <game-menu></game-menu>
  </header>
</template>

<script>
  import GameMenu from './game-menu.vue';

  export default {
    components: {
      'game-menu': GameMenu,
    },
  }
</script>

<style>
  /** TODO FIX CONSTANT VALUES **/

  .header {
   width: 100vw;
   height: 60px;
   flex: 0 0 60px;
   display: flex;
   flex-flow: row nowrap;
   background: lightslategray;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   position: relative; /** box-shadow z-index up **/
  }
</style>
