<template lang="html">
  <div class="lobby">
    <button @click="findLobby">find lobby</button>
    <hr />
    <div class="lobby__userlist">
      <!--div class="lobby__user" v-for="user in users">
        {{ user.id }}
        <button @click="invite(user.id)">></button>
      </div>
      <button @click="accept(inviter)">Accept from {{ inviter }}</button-->
    </div>
    <v-chat></v-chat>
  </div>
</template>

<script>
  import Chat from './chat.vue';

  export default {
    data() {
      return {
        users: [],
        inviter: false,
      }
    },
    props: ['name'],
    sockets: {
      connect: function() {
        console.log('Lobby, Connect');
      },
      users: function(users) {
        this.users = users;
      },
      invite: function(id) {
        this.inviter = id;
        console.log(id);
      },
      game: function(data) {
        this.$router.push({ name: 'table', params: { gameData: data } })
      },

      'search start': function(data) {
        console.log('search started', data)
      },

      'search end': function(data) {
        console.log('search end, starting game');
        this.$router.push({ name: 'table', params: { gameData: data } })
      }
    },
    components: {
      'v-chat': Chat,
    },
    methods: {
      findLobby() {
        this.$socket.emit('findLobby');
      },
      invite(id) {
        this.$socket.emit('invite', id);
      },
      accept(id) {
       this.$socket.emit('accept', id);
      }
    }
  }
</script>

<style>
  .lobby {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
  }

  .lobby__userlist {
    flex: 1 1 auto;
  }

  .lobby__user {
    display: flex;
    padding: 5px;
  }

  .lobby__user button {
    border: 1px dashed black;
    margin: 0 10px;
    padding: 0 5px;
  }
</style>
