<template>
  <!-- Enter to the game :deprecated, need routing -->
  <form class="login">
    <input v-model="name" type="text" placeholder="Enter your name"
     autofocus required>
    <button @click.prevent="start">Play</button>
  </form>
</template>

<script>
  export default {
    data() {
      return {
        name: '',
      };
    },
    methods: {
      api: function(url, params) {
        // let point = 'http://localhost:5000/api/' + url;
        let point = 'https://durak-api.herokuapp.com/api/' + url;

        return fetch(point, {
          method: 'POST',
          body: JSON.stringify(params),
          headers: {
            'Content-Type': 'application/json;charset=UTF-8'
          }
        }).then((response) => {
          if(response.status == 200)
            return response.json();
        });
      },
      start: function() {
        this.api('game/start', {'name': this.name})
        .then((data) => {
          this.$router.push({name: 'table', params: { gameData: data, name: this.name }})
        })
      },
    }
  }
</script>

<style>
  .login {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }
</style>
