<template>
  <div class="match">
    <v-table></v-table>
    <v-chat></v-chat>
  </div>
</template>

<script>
  import Table from './table.vue';
  import Chat from './chat.vue';

  export default {
    components: {
      'v-table': Table,
      'v-chat': Chat,
    },
  }
</script>

<style>
  .match {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
  }
</style>
