<template>
  <div class="table">
    <div class="game">
      <div class="game__hand">
        <card v-for="card in cards.enemy" :key="card.id" />
      </div>
      <div class="game__bout">
        <div class="game__pair" v-for="pair in cards.pairs">
          <card v-for="card in pair" :key="card.code" :code="card.code" />
        </div>
      </div>
      <div class="game__hand">
        <card v-for="card in cards.player" :key="card.code"
          @click.native="boutaction(card.code)"
          :code="card.code" />
      </div>
    </div>

    <div class="info">
      <div class="info__heap">
        <card v-for="card in cards.heap" :key="card.id" />
      </div>
      <div class="info__deck">
        <card v-for="card in cards.deck" :key="card.code || card.id" :code="card.code" />
      </div>
      <div class="info__actions">
        <button class="info__action" @click="pass"
          :disabled="!button.canPass"
          >Dn</button>
        <button class="info__action" @click="surrender"
          :disabled="!button.canSurrend"
          >Up</button>
      </div>
    </div>
    <v-chat></v-chat>
  </div>
</template>

<script>
import Card from './card.vue';
import Chat from './chat.vue';

const service = 'https://durak-api.herokuapp.com/';

export default {
  components: {
    'card': Card,
    'v-chat': Chat,
  },
  props: ['gameData'],
  sockets: {
    connect: function() {
      console.log('Connect: socket');
    },
    gameError: function(message) {
      console.log('Error:', message);
    },
    gameUpdate: function(data) {
      console.log('Update');
      this.render(data);
    },
  },
  data: function() {
    return {
      trump: -1,
      lobby: "",
      turn: false,
      cards: {
        counter: 36,
        pairs: [],
        player: [],
        enemy: [],
        heap: [],
        deck: [],
      }
    }
  },
  mounted() {
    this.lobby = this.gameData.lobby;
    this.render(this.gameData);
    console.log(`Game ${this.lobby} has begin!`);
  },
  computed: {
    button() {
      const pairs = this.cards.pairs;
      return {
        canPass: pairs.length && this.turn && pairs.every(pair => pair.length == 2),
        canSurrend: pairs.length && !this.turn && pairs.some(pair => pair.length == 1)
      };
    },
  },
  methods: {
    sorting: function(cards) {
      cards
        .sort(function(aCard, bCard) {
          return aCard.code % 9 - bCard.code % 9;
        })
        .sort(function(aCard, bCard) {
          return aCard.code % 4 - bCard.code % 4;
        });

      return cards;
    },
    render: function(data) {
      this.trump = data.trump;
      this.turn = data.turn;
      this.cards.heap = [];
      this.cards.deck = [];
      this.cards.pairs = [];
      this.cards.enemy = [];
      this.cards.player = [];

      while(data.enemies[0].amountCards--)
        this.cards.enemy.push({ 'id': this.cards.counter++ });

      while(data.heap--)
        this.cards.heap.push({ 'id': this.cards.counter++ });

      while(data.deck--)
        this.cards.deck.push({ 'id': this.cards.counter++ });

      if(this.cards.deck.length)
        Object.assign(this.cards.deck[0], data.trumpCard);

      for(let i = 0; i < data.attack.length; i++) {
        let attackCard = data.attack[i];
        let defendCard = data.defend[i];

        if (!defendCard) this.cards.pairs[i] = [attackCard]
        else this.cards.pairs[i] = [attackCard, defendCard];
      }

      this.cards.player = this.sorting(data.hand);
    },
    boutaction: function(code) {
      let point = '';
      let pair = this.cards.pairs.length;
      if(this.cards.pairs.length == 0 && this.turn)
        point = 'bout begin';
      else if(this.turn)
        point = 'bout continue';
      else if(this.cards.pairs.some(pair => pair.length == 1)) {
        pair = this.cards.pairs.findIndex(pair => {
          return pair.length == 1;
        });
        point = 'bout beat';
      }
      else {
        console.log('Wrong action');

      };
      console.log('execute:', point, code, pair);
      this.$socket.emit(point, {
        'lobby': this.lobby,
        'code': code,
        'pair': pair,
      });
    },
    pass: function() {
      console.log('execute:', 'bout/pass');
      this.$socket.emit('bout pass', {
        'lobby': this.lobby,
      });
    },
    surrender: function() {
      console.log('execute:', 'bout/surrender');
      this.$socket.emit('bout surrender', {
        'lobby': this.lobby,
      });
    }
  },
}
</script>

<style>
  .table {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    background: lightgray;
  }

  .game {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .game__hand {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    padding: 10px 44px; /* calc(var(--poker-width) * var(--size) / -2.6) */
  }

  .game__bout {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
  }

  .game__pair {
    display: flex;
  }

  .info {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .info__heap {
    /* TODO Fix width & height */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .info__deck {
    /* TODO Fix width & height */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .info__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 20px;
  }

  .info__action {
    height: 30px;
    padding: 0 5px;
    border: thin solid gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }

  .info__action:hover {
    box-shadow: 0 0 5px 5px lightblue;
  }

  .info__action:disabled {
    opacity: 0.5;
    background: gray;
  }
</style>
